$primary-color = #3072F6;
$bg-body = #F0F2F5;
$bg-mod = #fff;
$bg-bar = #ebecf0;
$line-color = #ededed;
$text-color1 = #484848;
$text-color2 = #808080;
$text-color3 = #999999;
$header-bg = #292929;
$sidebar-bg = #35363b;
$nav-selected = rgba(48, 114, 243, 1);
$bg-content = #F8F8F8;
$red = #F5222D;
$yellow = #FFAA00;
$green = #36C626;
$white = #FFFFFF;
$blue = #3072F6;
$black = #000000;
$grey-DD = #DDDDDD;
$grey-EE = #EEEEEE;
$grey-E9 = #F9F9F9;
$grey-D9 = #D9D9D9;
$grey-CC = #CCCCCC;
$grey-99 = #999999;
$grey-66 = #666666;
$grey-3E = #3E3E3E;
$grey-33 = #333333;
$black-45 = rgba(0, 0, 0, 0.45);
$black-65 = rgba(0, 0, 0, 0.65);
$black-85 = rgba(0, 0, 0, 0.85);
$white-65 = rgba(255, 255, 255, 0.65);
