@import '../../theme/default.styl'

.saas-checkbox {
  line-height 26px
  user-select none

  &-item {
    display inline-block
    margin 7px 10px 7px 0
    width 64px
    border 1px solid $grey-D9
    border-radius 2px
    color $grey-D9
    text-align center
    font-size 12px
    cursor pointer

    &:hover {
      color $primary-color
    }

    &.active {
      border-color $primary-color
      color $primary-color
    }

    &:last-child {
      margin-right 0
    }
  }
}